Package: cowsay-off
Source: cowsay
Version: 3.03+dfsg2-7
Architecture: all
Maintainer: James McDonald <james@jamesmcdonald.com>
Installed-Size: 22
Depends: cowsay (>= 3.03+dfsg2-3)
Breaks: cowsay (<< 3.03+dfsg2-3)
Replaces: cowsay (<< 3.03+dfsg2-3)
Section: games
Priority: optional
Homepage: https://web.archive.org/web/20120527202447/http://www.nog.net/~tony/warez/cowsay.shtml
Description: configurable talking cow (offensive cows)
 Cowsay (or cowthink) will turn text into happy ASCII cows, with
 speech (or thought) balloons. If you don't like cows, ASCII art is
 available to replace it with some other creatures (Tux, the BSD
 daemon, dragons, and a plethora of animals, from a turkey to
 an elephant in a snake).
 .
 This package contains cows which some may consider to be offensive.
 Please do not install this package if you or your users are easily offended.
